<h1>
  <%= @document.title %>
  <button class="btn btn-primary" 
    onclick="verifyIntegrity(&quot;<%= rails_blob_url(@document.doc) %>&quot;, <%= @document.address%>)">
    Verify 
  </button>
</h1>
<div class="image-container">
  <%= image_tag @document.doc %>
</class>
<h2> Permissions <h2>
  <a href="/documents/<%= @document.id  %>/permissions/new">
  <button> Add a permission </button>
</a>

